{% load static %}
<header>
  <div class="headerarea headerarea__2 header__sticky header__area">
    <div class="container">
      <div class="row justify-content-center">  <!-- Centering -->
        <div class="col-12">
          <div class="headerarea__left d-flex justify-content-center align-items-center" style="height: 80px;">
            <div class="headerarea__left__logo">
              <a href="{% url 'pages:dynamic_pages' template_name='index' %}">
                <img
                  loading="lazy"
                  src="{% static 'img/logo/logo.jpg' %}"
                  alt="logo"
                  class="img-fluid"
                  style="max-height: 60px;"  
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% include 'partials/messages.html' %}
