{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Course{% endblock %}
{% block content %}
    {% include 'partials/theme-switch.html' %}
    <main class="main_wrapper overflow-hidden">
        <!-- headar section start -->
        {% include 'partials/navbar.html' %}
        <!-- header section end -->
        <!-- Mobile Menu Start Here -->
        {% include 'partials/mobile-menu.html' %}
        <!-- Mobile Menu end Here -->
        <!-- theme fixed shadow -->
        <div>
            <div class="theme__shadow__circle"></div>
            <div class="theme__shadow__circle shadow__right"></div>
        </div>
        <!-- theme fixed shadow -->
        <!-- breadcrumbarea__section__start -->
        <div class="breadcrumbarea pt-2 pb-2 p-1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__content__wraper" data-aos="fade-up">
                            <div class="breadcrumb__title">
                                <h2 class="heading">Featured Courses</h2>
                            </div>
                            <div class="breadcrumb__inner">
                                <ul>
                                    <li>
                                        <a href="{% url 'pages:dynamic_pages' template_name='index' %}">Home</a>
                                    </li>
                                    <li>Featured Course</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape__icon__2">
                <img loading="lazy"
                     class=" shape__icon__img shape__icon__img__1"
                     src="{% static 'img/herobanner/herobanner__1.png' %}"
                     alt="photo">
                <img loading="lazy"
                     class=" shape__icon__img shape__icon__img__2"
                     src="{% static 'img/herobanner/herobanner__2.png' %}"
                     alt="photo">
                <img loading="lazy"
                     class=" shape__icon__img shape__icon__img__3"
                     src="{% static 'img/herobanner/herobanner__3.png' %}"
                     alt="photo">
                <img loading="lazy"
                     class=" shape__icon__img shape__icon__img__4"
                     src="{% static 'img/herobanner/herobanner__5.png' %}"
                     alt="photo">
            </div>
        </div>
        <!-- breadcrumbarea__section__end-->
        <!-- course__section__start   -->
        <div class="coursearea sp_top_100 sp_bottom_100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="course__text__wraper" data-aos="fade-up">
                            <div class="course__text">
                                <p>Showing {{courses|length}} Results</p>
                            </div>
                            <div class="course__icon">
                                <ul class="nav property__team__tap" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                    <a href="#"
                                       class="single__tab__link active"
                                       data-bs-toggle="tab"
                                       data-bs-target="#projects__one"><i class="icofont-layout"></i>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                            <a href="#"
                               class="single__tab__link"
                               data-bs-toggle="tab"
                               data-bs-target="#projects__two"><i class="icofont-listine-dots"></i>
                        </a>
                    </li>
                    <li class="short__by__new">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Short by Subject</option>
                           
                            {% for sub in subjects %}
                                <option value="3">{{sub.title}}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-12">
        <div class="course__sidebar__wraper" data-aos="fade-up">
            <div class="course__heading">
                <h5>Search here</h5>
            </div>
            <div class="course__input">
                <input type="text" placeholder="Search Course">
                <div class="search__button">
                    <button>
                        <i class="icofont-search-1"></i>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-xl-9 col-lg-9 col-md-8 col-12">
        <div class="tab-content tab__content__wrapper with__sidebar__content"
             id="myTabContent">
            <div class="tab-pane fade  active show"
                 id="projects__one"
                 role="tabpanel"
                 aria-labelledby="projects__one">
                <div class="row">
                    {% for course in courses %}
                        {% with subject=course.subject %}
                            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12"
                                 data-aos="fade-up">
                                <div class="gridarea__wraper gridarea__wraper__2">
                                    <div class="gridarea__img">
                                        <a href="{% url 'courses' course.slug %}">
                                            <img loading="lazy" src="{% static 'img/grid/grid_1.png' %}" alt="grid">
                                        </a>
                                        <div class="gridarea__small__button">
                                            <div class="grid__badge">Data & Tech</div>
                                        </div>
                                        <div class="gridarea__small__icon">
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="gridarea__content">
                                        <div class="gridarea__list">
                                            <ul>
                                                <li>
                                                    <i class="icofont-book-alt"></i> 23 Lesson
                                                </li>
                                                <li>
                                                    <i class="icofont-clock-time"></i> 1 hr 30 min
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="gridarea__heading">
                                            <h3>
                                                <a href="{% url 'courses' course.slug %}">{{ course.title }}</a>
                                            </h3>
                                        </div>
                                        <div class="gridarea__price">
                                            {{ course.currency }} {{ course.price }}
                                            <span> <del class="del__2">{{ course.is_paid }}</del></span>
                                        </div>
                                        <div class="gridarea__bottom">
                                            <a href="{% url 'pages:dynamic_pages' template_name='instructor-detail' %}">
                                                <div class="gridarea__small__img">
                                                    <img loading="lazy"
                                                         src="{% static 'img/grid/grid_small_1.jpg' %}"
                                                         alt="grid">
                                                    <div class="gridarea__small__content">
                                                        <h6>{{ course.created_by }}</h6>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="gridarea__star">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <span>(44)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade"
                 id="projects__two"
                 role="tabpanel"
                 aria-labelledby="projects__two">

            </div>
        </div>
        <div class="main__pagination__wrapper" data-aos="fade-up">
            <ul class="main__page__pagination">
                <li>
                    <a class="disable" href="#"><i class="icofont-double-left"></i></a>
                </li>
                <li>
                    <a class="active" href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#"><i class="icofont-double-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
<!-- course__section__end   -->
<!-- footer__section__start -->
<div class="footerarea">
    {% include 'partials/footer.html' %}
</div>
<!-- footer__section__end -->
</main>
{% endblock %}
