{% extends 'layouts/student.html' %} {% load static i18n %} {% block title %}
User Profile {% endblock %} {% block page_content %}
<div class="col-xl-9 col-lg-9 col-md-12">
  <div class="dashboard__content__wraper">
    <div class="dashboard__section__title">
      <h4>My Profile</h4>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form">Registration Date</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form">{{ user.date_joined }}</div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">First Name</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user.first_name }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Last Name</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user.last_name }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Email</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user.email }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Phone Number</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user.phone }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Gender</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {% if user_profile.gender == "M" %} 
          Male 
          {% elif user_profile.gender == "F" %} 
          Female 
          {% endif %}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Education</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user_profile.education }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Address</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user_profile.address }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Taluka</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user_profile.taluka }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">District</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user_profile.district }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">State</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user_profile.state }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Pin Code</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user_profile.pincode }}
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Profile Picture</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user_profile.picture }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Hobbies</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user_profile.hobbies }}
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">
          Ira Rangoli Arts Reference From
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user_profile.ira_rangoli_reference }}
        </div>
      </div>
      {% if user.is_lecturer %}
      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">
          Last Rangoli Batch Completion Date
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user.last_rangoli_batch_completion_date }}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">
          Level Completed
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">
          {{ user.level_completed }}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <a href="{% url 'update_profile' %}" class="btn btn-primary"
          >Update Profile</a
        >
      </div>
    </div>
    {{ error }}
  </div>
</div>
{% endblock %}
