{% extends 'layouts/student.html' %}
{% load static i18n %}
{% block title %}User Profile{% endblock %}
{% block page_content %}
    <div class="col-xl-9 col-lg-9 col-md-12">
        <div class="dashboard__content__wraper">
            <div class="dashboard__section__title">
                <h4>My Profile</h4>
            </div>
            <div class="row">
                <div class="col-md-8 w-100">
                    <div class="card p-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Registration Date:</strong> {{ user.date_joined }}</li>
                            <li class="list-group-item"><strong>First Name:</strong> {{ user.first_name }}</li>
                            <li class="list-group-item"><strong>Last Name:</strong> {{ user.last_name }}</li>
                            <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                            <li class="list-group-item"><strong>Phone Number:</strong> {{ user.phone }}</li>
                            <li class="list-group-item"><strong>Birth Date:</strong> {{ user_profile.birthday }}</li>
                            <li class="list-group-item"><strong>Gender:</strong> 
                                {% if user_profile.gender == "M" %}
                                    Male
                                {% elif user_profile.gender == "F" %}
                                    Female
                                {% endif %}
                            </li>
                            <li class="list-group-item"><strong>Education:</strong> {{ user_profile.education }}</li>
                            <li class="list-group-item"><strong>Address:</strong> {{ user_profile.address }}</li>
                            <li class="list-group-item"><strong>Taluka:</strong> {{ user_profile.taluka }}</li>
                            <li class="list-group-item"><strong>District:</strong> {{ user_profile.district }}</li>
                            <li class="list-group-item"><strong>State:</strong> {{ user_profile.state }}</li>
                            <li class="list-group-item"><strong>Pin Code:</strong> {{ user_profile.pincode }}</li>
                            <li class="list-group-item"><strong>Hobbies:</strong> {{ user_profile.hobbies }}</li>
                            <li class="list-group-item"><strong>Ira Rangoli Arts Reference From:</strong> {{ user_profile.ira_rangoli_reference }}</li>
    
                            {% if user.is_lecturer %}
                                <li class="list-group-item"><strong>Last Rangoli Batch Completion Date:</strong> {{ user_profile.last_rangoli_batch_completion_date }}</li>
                                <li class="list-group-item"><strong>Level Completed:</strong> {{ user_profile.level_completed }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-4 text-center">
                <div class="col-6">
                    <a href="{% url 'password_reset' %}" class="btn btn-warning w-100">Reset Password</a>
                </div>
                <div class="col-6">
                    <a href="{% url 'update_profile' %}" class="btn btn-primary w-100">Update Profile</a>
                </div>
            </div>
            {{ error }}
        </div>
    </div>
{% endblock %}
